.container[data-v-4a46b7ee]{display:flex;justify-content:center;align-items:center;min-height:100vh}.auth-card[data-v-4a46b7ee]{max-width:400px;width:100%;padding:20px;box-shadow:0 4px 6px #0000001a}
