.container[data-v-657bf912]{display:flex;justify-content:center;align-items:center;min-height:100vh}.auth-card[data-v-657bf912]{max-width:400px;width:100%;padding:20px;box-shadow:0 4px 6px #0000001a}
